# ASSIGNMENT

<h3> 1 : Declare and initialize a variable name total_marks with a value 500</h3>

In [ ]:
total_marks=55

<h3> 2 : Declare and initialize 5 variables name maths , english , urdu , physics and chemisrty with different integer values</h3>

In [ ]:
maths=75
english=98
urdu=87
physics=78
chemisty=84

<h3>3 : Calculate the obtained marks And assign the value In variable name obtained_marks</h3>

In [4]:
maths=75
english=98
urdu=87
physics=78
chemistry=84
obtained_marks=(maths+english+urdu+physics+chemistry)
print(obtained_marks)

422

<h3>4 : Calculate percentage and assign the value in variable name percentage</h3>

In [9]:
percentage=obtained_marks/500*100
print(int(percentage))

84

<h3>5 : Declare and initialize an empty variable name grade </h3>

In [16]:
grade=''
if percentage>=84:
    grade='A'
    print("YOUR GRADE IS", grade)

YOUR GRADE IS A

### 6: print your biodata

In [1]:
print(" NAME:   MUHAMMAD SHOAIB \n FATHER NAME:    ABDUL RAHIM \n ROLL NO.     AIC-010529 \n Campus :  Saylani Gulshan Campus")

 NAME:   MUHAMMAD SHOAIB
 FATHER NAME:    ABDUL RAHIM
 ROLL NO.     AIC-010529
 Campus :  Saylani Gulshan Campus